NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

RESEND_API_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

NEXT_PUBLIC_APP_URL=

API_KEY_ENCRYPTION_SECRET=
PAYMOB_API_KEY=
PAYMOB_IFRAME_ID=
PAYMOB_WALLET_INTEGRATION_ID=
PAYMOB_INSTAPAY_INTEGRATION_ID=
PAYMOB_HMAC_SECRET=
